<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>

    {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.jpeg" alt="Web Developer">
                        </figure>
                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Our Weather App</p>
                        <h1>I am a <span>Full Stack Web Developer</span> From Meerut.</h1>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    {{!-- Footer Code  --}}
    {{>footer}}
    {{!-- Footer Code  --}}

</body>

</html>