<div class="container-fluid main_menu">
    <div class="row">
        <div class="col-md-10 col-md-12 mx-auto">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <i class="fa-regular fa-snowflake"> </i>Weather App<i
                            class="fa-regular fa-snowflake"></i></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto ml-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/weather" >Weather
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About </a>
                            </li>
                            

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">Follow Us </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item text-dark " href="https://github.com/AkashRana18" target="_blank">GitHub</a></li>
                                    <li><a class="dropdown-item text-dark " href="https://www.linkedin.com/in/akashrana18/" target="_blank">LinkedIn</a></li>
                                    <li><a class="dropdown-item text-dark " href="https://twitter.com/Akash08_18" target="_blank">Twitter</a></li>
                                </ul>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout </a>
                            </li>
                            
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>